#footer{
   margin-bottom: 0;
    margin-top:10%;
    width: 100%;
   background: #A78777;
    color: #eb9235;
}
#foot{
   text-align: center ;
   font-size: 1.5rem;
   margin-left: 10em;
   color: aliceblue;
   
}
